In [41]:
import pandas as pd
import numpy as np

1. This question doesn’t involve any programming. Suppose you have a pandas DataFrame. In a markdown cell, describe what each of the following operators/methods allows you to subset from a dataframe (that is, describe all of the types of subsetting you can do with the operator):

    * [] - Allows for data from a dataset to be specified
    * .iloc[] - Allows for the grabbing of rows/columns of integers at specific locations
    * .loc[] - Allows for the grabbing of rows/columns with paticular labels

2. Read in the BreastCancer.dat data file available here https://www4.stat.ncsu.edu/online/datasets/
BreastCancer.dat. (Open the file in a program such as notepad or wordpad to determine the delimiter - although a program like notepad++ is a better choice.) Upload this file to your Colab notebook and read it in using a relative file path (just the file name).

a. Save the data as an object called cancer_data.

b. Use the .head() method to look at the data.

c. Return just the grade column using the column attribute

d. Use the .loc[] method to print out all rows where the size is larger than 30.

e. Use the .loc[] method to print out all rows where the size is greater than 30 and the grade is 3.

f. Use [] to return just the age, size, and grade columns.

g. Use .loc[] to return the rows where meno is equal to premenopausal along with the age, size, and grade columns.

In [42]:
# a)
cancer_data = pd.read_csv('BreastCancer.dat.txt', delimiter='\t')

# b)
print(cancer_data.head())
print('-' * 75)

# c)
print(cancer_data.columns[4])
print(cancer_data["grade"])
print('-' * 75)

# d)
d = cancer_data.loc[cancer_data["size"] > 30]
print(d)
print('-' * 75)

# e)
e = cancer_data.loc[(cancer_data["size"] > 30) | (cancer_data["grade"] == 3)]
print(e)
print('-' * 75)

# f)
f = cancer_data[["age", "size", "grade"]] #Inside brackets makes list and outside brackets are used for the operation
print(f)
print('-' * 75)

# g)
g1 = cancer_data.loc[cancer_data["meno"] == "premenopausal"]
g2 = g1[["age", "size", "grade"]]
print(g2)


#houses_df.columns = column_names

     id  age            meno  size  grade  gradd1  gradd2  nodes    enodes  \
0   132   49   premenopausal    18      2       1       0      2  0.786628
1  1575   55  Postmenopausal    20      3       1       1     16  0.146607
2  1140   56  Postmenopausal    40      3       1       1      3  0.697676
3   769   45   premenopausal    25      3       1       1      1  0.886921
4   130   65  Postmenopausal    30      2       1       0      5  0.548812

   pgr  er         hormon  rectime  censrec  _st  _d        _t  _t0
0    0   0   no tamoxifen     1838        0    1   0  5.032170    0
1    0   0   no tamoxifen      403        1    1   1  1.103354    0
2    0   0   no tamoxifen     1603        0    1   0  4.388775    0
3    0   4   no tamoxifen      177        0    1   0  0.484600    0
4    0  36  had tamoxifen     1855        0    1   0  5.078713    0
---------------------------------------------------------------------------
grade
0      2
1      3
2      3
3      3
4      2
      ..
681    3
682    2
683    3
684    2
685    2
Name: grade, Length: 686, dtype: int64
---------------------------------------------------------------------------
       id  age            meno  size  grade  gradd1  gradd2  nodes    enodes  \
2    1140   56  Postmenopausal    40      3       1       1      3  0.697676
5    1642   48   premenopausal    52      2       1       0     11  0.267135
14    820   32   premenopausal    57      3       1       1     24  0.056135
19   1185   58  Postmenopausal    45      3       1       1      4  0.618783
30    777   49   premenopausal    55      2       1       0      7  0.431710
..    ...  ...             ...   ...    ...     ...     ...    ...       ...
672   157   59  Postmenopausal    45      2       1       0      6  0.486752
673  1137   47   premenopausal    70      2       1       0      5  0.548812
674  1171   48  Postmenopausal    35      1       0       0      2  0.786628
675  1178   64  Postmenopausal    35      1       0       0      4  0.618783
683  1525   57  Postmenopausal    35      3       1       1      1  0.886921

      pgr   er         hormon  rectime  censrec  _st  _d        _t  _t0
2       0    0   no tamoxifen     1603        0    1   0  4.388775    0
5       0    0   no tamoxifen      842        1    1   1  2.305270    0
14      0   13   no tamoxifen      448        1    1   1  1.226557    0
19      0    0   no tamoxifen      370        1    1   1  1.013005    0
30      0    0   no tamoxifen      679        1    1   1  1.859001    0
..    ...  ...            ...      ...      ...  ...  ..       ...  ...
672   739  526   no tamoxifen      740        0    1   0  2.026010    0
673   796   24   no tamoxifen     1703        0    1   0  4.662560    0
674   845  105  had tamoxifen     1578        0    1   0  4.320328    0
675   858   15   no tamoxifen      722        0    1   0  1.976728    0
683  1490  209  had tamoxifen     1342        0    1   0  3.674196    0

[219 rows x 18 columns]
---------------------------------------------------------------------------
       id  age            meno  size  grade  gradd1  gradd2  nodes    enodes  \
1    1575   55  Postmenopausal    20      3       1       1     16  0.146607
2    1140   56  Postmenopausal    40      3       1       1      3  0.697676
3     769   45   premenopausal    25      3       1       1      1  0.886921
5    1642   48   premenopausal    52      2       1       0     11  0.267135
6     475   48   premenopausal    21      3       1       1      8  0.382893
..    ...  ...             ...   ...    ...     ...     ...    ...       ...
673  1137   47   premenopausal    70      2       1       0      5  0.548812
674  1171   48  Postmenopausal    35      1       0       0      2  0.786628
675  1178   64  Postmenopausal    35      1       0       0      4  0.618783
681   586   51   premenopausal    30      3       1       1      2  0.786628
683  1525   57  Postmenopausal    35      3       1       1      1  0.886921

      pgr   er         hormon  rectime  censrec  _st  _d        _t  _t0
1       0    0   no tamoxifen      403        1    1   1  1.103354    0
2       0    0   no tamoxifen     1603        0    1   0  4.388775    0
3       0    4   no tamoxifen      177        0    1   0  0.484600    0
5       0    0   no tamoxifen      842        1    1   1  2.305270    0
6       0    0   no tamoxifen      293        1    1   1  0.802190    0
..    ...  ...            ...      ...      ...  ...  ..       ...  ...
673   796   24   no tamoxifen     1703        0    1   0  4.662560    0
674   845  105  had tamoxifen     1578        0    1   0  4.320328    0
675   858   15   no tamoxifen      722        0    1   0  1.976728    0
681  1152   38  had tamoxifen     1760        0    1   0  4.818617    0
683  1490  209  had tamoxifen     1342        0    1   0  3.674196    0

[318 rows x 18 columns]
---------------------------------------------------------------------------
     age  size  grade
0     49    18      2
1     55    20      3
2     56    40      3
3     45    25      3
4     65    30      2
..   ...   ...    ...
681   51    30      3
682   64    26      2
683   57    35      3
684   44    21      2
685   80     7      2

[686 rows x 3 columns]
---------------------------------------------------------------------------
     age  size  grade
0     49    18      2
3     45    25      3
5     48    52      2
6     48    21      3
7     37    20      2
..   ...   ...    ...
669   38    61      2
673   47    70      2
679   43    20      2
681   51    30      3
684   44    21      2

[290 rows x 3 columns]

3. There are two files about mosquitos available at:
* https://www4.stat.ncsu.edu/~online/datasets/mosquito.txt
* https://www4.stat.ncsu.edu/~online/datasets/mosquito2.txt

a. Determine the delimiter and read in the mosquito.txt file as an object called mosq_data.

b. Similarly, read in the mosquito2.txt file. Note this file doesn’t contain column names! The columns
are the same as the other file though. Use an attribute from mosq_data to assign the column
names in the function call in which you read in the data. Save this data as an object called mosq_data2.

c. Combine the two datasets into one data frame using the concat() function from pandas (see https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [43]:
# a)
mosq_data = pd.read_csv('mosquito.txt', delimiter = "&")
print(mosq_data.head())
print('-' * 75)

# b)
head = list(mosq_data.columns)
mosq_data2 = pd.read_csv('mosquito2.txt', delimiter = "\t", names = head)
print(mosq_data2.head())
print('-' * 75)

# c
mosq_data_all = pd.concat([mosq_data, mosq_data2])
print(mosq_data_all.head())
print('-' * 75)
print(f"\nNumber of rows in mosq_data: {len(mosq_data.index)}\n\nNumber of rows in mosq_data2: {len(mosq_data2.index)}\n\nNumber of rows in mosq_data_all: {len(mosq_data_all.index)}\n")

   Day  Cage trt  Response
0    1     1  T2        42
1    2     1  T1        44
2    2     2  T2        42
3    3     1  T1        25
4    3     2  T3        33
---------------------------------------------------------------------------
   Day  Cage trt  Response
0   16     1  T2        40
1   16     2  T3        37
2   17     1  T2        34
3   17     2  T3        39
4   18     1  T2        42
---------------------------------------------------------------------------
   Day  Cage trt  Response
0    1     1  T2        42
1    2     1  T1        44
2    2     2  T2        42
3    3     1  T1        25
4    3     2  T3        33
---------------------------------------------------------------------------

Number of rows in mosq_data: 37

Number of rows in mosq_data2: 30

Number of rows in mosq_data_all: 67

## Task 1: Read in the data

* You can either read this dataset from the URL or download it and read it in locally. Check out the
first few observations of the data.

In [44]:
sdata = pd.read_csv('StudentData.txt', delimiter = ";")
print(sdata.head())
print('-' * 75)

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]
---------------------------------------------------------------------------

## Task 2: Summarize the Data

This data has many categorical variables and a few numeric. You should do the following:

### Categorical variables
* Create a one-way contingency table, a two-way contingency table, and a three-way contingency table
  * Interpret a number from each resulting table (that is, pick out a value produced and explain what that value means.)
* Create a conditional two-way table. That is, condition on one variable’s setting and create a two-way
table.

Do this using two different methods:
* Once, by subsetting the data (say with .loc) and then creating the two-way table
* Once, by creating a three-way table and subsetting it

In [50]:
conttable1way = pd.crosstab(index = sdata["sex"], columns = 'count', margins=True)
print("\nOne Way Contingency Table\n")
print(conttable1way)
print("If we pick 187 that shows that there is a total of 187 boys in the datasets as a whole out of the 395.\nIt also shows that boys take up only ~47% of the total population of students.\n")
print('-' * 75)

print("\nTwo Way Contingency Table\n")
conttable2way = pd.crosstab(index = sdata["sex"], columns = sdata["Fjob"], margins=True)
print(conttable2way)
print("If we pick 106, that shows that 106 boys have a Mom that does a job that is not listed. \nAdditionally this means that boys who have mothers doing 'other' jobs out of all the boys is ~57%.\nAlso that out of the Mothers who are doing 'other' jobs ~49% of them have sons and not daughters.\n")
print('-' * 75)

print("\nThree Way Contingency Table\n")
conttable3way = pd.crosstab(index = sdata["sex"], columns = [sdata["Fjob"], sdata["Mjob"]], margins=True)
print(conttable3way)
print("If we pick 9, that shows that 9 female students have parents that both work as teachers. \nThis also means thatout of the total amount of girls ~4% of them have parents that are both teachers \nand out of the population of both parents being teachers ~47% have a daughter.\n")
print('-' * 75)

print("\nTwo Way Contingency Table Method 1\n")
condsdata = sdata.loc[sdata["Fjob"] == "other"]
condconttable2way = pd.crosstab(index = condsdata["sex"], columns = condsdata["Fjob"], margins=True)
print(condconttable2way)
print('-' * 75)

print("\nTwo Way Contingency Table Method 2\n")
condconttable3way = pd.crosstab(index = sdata["sex"], columns = [sdata["Fjob"], sdata["Mjob"]], margins=True)
condconttable3waysub = condconttable3way.loc[:, ("other", "teacher")]
print(condconttable3waysub)

One Way Contingency Table

col_0  count  All
sex
F        208  208
M        187  187
All      395  395
If we pick 187 that shows that there is a total of 187 boys in the datasets as a whole out of the 395.
It also shows that boys take up only ~47% of the total population of students.

---------------------------------------------------------------------------

Two Way Contingency Table

Fjob  at_home  health  other  services  teacher  All
sex
F          14      12    111        58       13  208
M           6       6    106        53       16  187
All        20      18    217       111       29  395
If we pick 106, that shows that 106 boys have a Mom that does a job that is not listed.
Additionally this means that boys who have mothers doing 'other' jobs out of all the boys is ~57%.
Also that out of the Mothers who are doing 'other' jobs ~49% of them have sons and not daughters.

---------------------------------------------------------------------------

Three Way Contingency Table

Fjob at_home                         health                                \
Mjob at_home other services teacher at_home health other services teacher
sex
F          6     3        4       1       2      4     2        2       2
M          1     2        2       1       0      2     0        2       2
All        7     5        6       2       2      6     2        4       4

Fjob   other  ... services                        teacher               \
Mjob at_home  ...   health other services teacher at_home health other
sex           ...
F         23  ...        5    10       24       9       1      1     3
M         10  ...        5    14       19      10       1      0     3
All       33  ...       10    24       43      19       2      1     6

Fjob                   All
Mjob services teacher
sex
F           5       3  208
M           3       9  187
All         8      12  395

[3 rows x 25 columns]
If we pick 9, that shows that 9 female students have parents that both work as teachers.
This also means thatout of the total amount of girls ~4% of them have parents that are both teachers
and out of the population of both parents being teachers ~47% have a daughter.

---------------------------------------------------------------------------

Two Way Contingency Table Method 1

Fjob  other  All
sex
F       111  111
M       106  106
All     217  217
---------------------------------------------------------------------------

Two Way Contingency Table Method 2

sex
F       4
M      17
All    21
Name: (other, teacher), dtype: int64

### Numeric variables (and across groups)
The numeric variables are age, absences, and the three test grades variables (G1, G2, and G3).
* Find measures of center and spread for three of these variables (including G3 as one of them)
  * Repeat while subsetting the data by some grouping variable (say with .loc)
* Find measures of center and spread across a single grouping variable for three of these variables (including G3 as one of them)
* Find measures of center and spread across two grouping variables for three of these variables (including
G3 as one of them)
* Create a correlation matrix between all of the numeric variables

In [46]:
age = sdata[["age", "absences", "G3"]].describe()
print("\nNumeric measures of Age, Absences, and Test Grades\n")
print(age)
print('-' * 75)

sdataage = sdata.loc[sdata["Pstatus"] == "A"]
agepstat = sdataage["age"].describe()
print("\nNumeric measures of Age while Pstatus is A\n")
print(agepstat)
print('-' * 75)

sdataabs = sdata.loc[sdata["famsize"] == "GT3"]
absencesfam = sdataabs["absences"].describe()
print("\nNumeric measures of Absences while famsize is GT3\n")
print(absencesfam)
print('-' * 75)

sdatag3 = sdata.loc[sdata["school"] == "GP"]
g3 = sdatag3["G3"].describe()
print("\nNumeric measures of Test Grades in 3rd Years while school is GP\n")
print(g3)
print('-' * 75)

#gpbyone = sdata.groupby("sex", group_keys = True)
gpbyone = sdata.groupby("sex")[["age", "absences", "G3"]].describe()
#gpbytwo = base.groupby(["sex", "Fjob"])
print("\nNumeric measures of Age, Absences, and Test Grades grouped by sex\n")
print(gpbyone)
print('-' * 75)

print("\nNumeric measures of Age, Absences, and Test Grades grouped by sex and Fjob\n")
gpbytwo = sdata.groupby(["sex", "Fjob"])[["age", "absences", "G3"]].describe()
print(gpbytwo)
print('-' * 75)

corrdata = sdata[["age", "absences", "G1", "G2", "G3"]].corr()
print("\nCorrelation Matrix\n")
print(corrdata)

Numeric measures of Age, Absences, and Test Grades

              age    absences          G3
count  395.000000  395.000000  395.000000
mean    16.696203    5.708861   10.415190
std      1.276043    8.003096    4.581443
min     15.000000    0.000000    0.000000
25%     16.000000    0.000000    8.000000
50%     17.000000    4.000000   11.000000
75%     18.000000    8.000000   14.000000
max     22.000000   75.000000   20.000000
---------------------------------------------------------------------------

Numeric measures of Age while Pstatus is A

count    41.000000
mean     16.585366
std       1.431356
min      15.000000
25%      15.000000
50%      16.000000
75%      17.000000
max      20.000000
Name: age, dtype: float64
---------------------------------------------------------------------------

Numeric measures of Absences while famsize is GT3

count    281.000000
mean       5.526690
std        8.154326
min        0.000000
25%        0.000000
50%        4.000000
75%        7.000000
max       75.000000
Name: absences, dtype: float64
---------------------------------------------------------------------------

Numeric measures of Test Grades in 3rd Years while school is GP

count    349.000000
mean      10.489971
std        4.625397
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64
---------------------------------------------------------------------------

Numeric measures of Age, Absences, and Test Grades grouped by sex

       age                                                    absences  \
     count       mean       std   min   25%   50%   75%   max    count
sex
F    208.0  16.730769  1.201696  15.0  16.0  17.0  18.0  20.0    208.0
M    187.0  16.657754  1.356181  15.0  16.0  16.0  18.0  22.0    187.0

               ...                G3                                       \
         mean  ...  75%   max  count       mean       std  min  25%   50%
sex            ...
F    6.216346  ...  8.0  75.0  208.0   9.966346  4.622338  0.0  8.0  10.0
M    5.144385  ...  8.0  38.0  187.0  10.914439  4.495297  0.0  9.0  11.0


      75%   max
sex
F    13.0  19.0
M    14.0  20.0

[2 rows x 24 columns]
---------------------------------------------------------------------------

Numeric measures of Age, Absences, and Test Grades grouped by sex and Fjob

                age                                                       \
              count       mean       std   min    25%   50%    75%   max
sex Fjob
F   at_home    14.0  17.071429  1.071612  15.0  16.25  17.0  18.00  19.0
    health     12.0  16.250000  1.288057  15.0  15.00  16.0  17.00  19.0
    other     111.0  16.774775  1.226115  15.0  16.00  17.0  18.00  20.0
    services   58.0  16.724138  1.196385  15.0  16.00  17.0  18.00  19.0
    teacher    13.0  16.461538  1.050031  15.0  16.00  17.0  17.00  18.0
M   at_home     6.0  17.333333  1.966384  15.0  15.50  18.0  19.00  19.0
    health      6.0  15.666667  1.211060  15.0  15.00  15.0  15.75  18.0
    other     106.0  16.632075  1.213617  15.0  16.00  16.5  17.75  21.0
    services   53.0  16.849057  1.585951  15.0  15.00  17.0  18.00  22.0
    teacher    16.0  16.312500  1.078193  15.0  15.75  16.0  17.00  18.0

             absences            ...                  G3                       \
                count      mean  ...    75%   max  count       mean       std
sex Fjob                         ...
F   at_home      14.0  5.142857  ...   8.00  14.0   14.0  10.285714  5.426836
    health       12.0  4.416667  ...   5.50  15.0   12.0  11.666667  3.200379
    other       111.0  6.918919  ...  10.00  56.0  111.0   9.513514  4.625748
    services     58.0  5.758621  ...   6.00  75.0   58.0  10.241379  4.597140
    teacher      13.0  5.076923  ...   6.00  24.0   13.0  10.692308  4.989733
M   at_home       6.0  3.500000  ...   4.25  12.0    6.0   9.833333  5.564770
    health        6.0  7.833333  ...  11.25  18.0    6.0  11.500000  3.619392
    other       106.0  4.688679  ...   7.50  30.0  106.0  10.905660  4.295132
    services     53.0  6.000000  ...   8.00  38.0   53.0  10.358491  4.385704
    teacher      16.0  4.937500  ...   7.25  16.0   16.0  13.000000  5.808040


              min    25%   50%    75%   max
sex Fjob
F   at_home   0.0   8.25  11.5  13.00  19.0
    health    8.0   9.00  11.0  13.25  18.0
    other     0.0   7.00  10.0  12.50  19.0
    services  0.0   9.00  11.0  13.75  17.0
    teacher   0.0   7.00  11.0  14.00  18.0
M   at_home   0.0   9.00  10.0  13.25  16.0
    health    7.0   8.50  12.0  14.75  15.0
    other     0.0   9.25  11.0  13.75  19.0
    services  0.0   8.00  11.0  12.00  20.0
    teacher   0.0  10.75  15.0  16.25  19.0

[10 rows x 24 columns]
---------------------------------------------------------------------------

Correlation Matrix

               age  absences        G1        G2        G3
age       1.000000  0.175230 -0.064081 -0.143474 -0.161579
absences  0.175230  1.000000 -0.031003 -0.031777  0.034247
G1       -0.064081 -0.031003  1.000000  0.852118  0.801468
G2       -0.143474 -0.031777  0.852118  1.000000  0.904868
G3       -0.161579  0.034247  0.801468  0.904868  1.000000